header{
    display: flex !important;
    flex-direction: column;
    width: 397px;
    height: 100%;
    padding: 15px !important;
    position: fixed;
    gap: 36.8px;
    justify-content: space-between;
    background-color: var(--background3);
}
header::before{
    content: "";
    width: 1px;
    height: inherit;
    position: fixed;
    left: 398px;
    background-image: var(--linear-gradient1);
}

.mainlogo img{
    width: 270px;
    margin-bottom: 111px !important;
}

.imageProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    background-image: url("../assetse/mahmoud-ahmed-salah.jpg");
    background-size: 100px 100px;
    position: relative;
    z-index: 1;
}

.gradiantProfile{
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-position: center center;
    background-image: var(--linear-gradient1);
    background-size: 104px 104px;
    position: relative;
    top: -102px;
    left: -2px;
    z-index: 0;
}

header .profileSection{
    margin-top: -82px !important;
    height: 110px;
    color: var(--color1);
    margin-bottom: 20px !important;
}

.userName{
    font-size: 20px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.userName .firstName{
    font-weight: 700 !important;
}

.idNumber{
    font-size: 20px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.settingAndLog  a{
    color: var(--color1)
}

.saperator{
    content: "";
    width: 2px;
    height: 25px;
    background-color: var(--color1);
}

.branchLink{
    font-family: 'Cairo';
    font-style: normal;
    color: var(--color2);
    font-size: 32px;
    line-height: 20px;
    margin-bottom: 20px !important;
}

.navbar ul.nav {
    padding-top: 10px !important;
    width: 100%;
    flex-wrap: nowrap;
    height: 320px;
}

.navlink{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.linktext{
    font-family: 'Cairo';
    font-style: normal;
    color:var(--color1);
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    border-bottom: 4px solid var(--color2);
}

.linktext:hover{
    font-weight: 700;
    padding: 6px 72px 6px 24px !important;
    border-radius: 50px;
    height: 100%;
    background-color: var(--background2);
}

.linkicon {
    display: flex;
    align-items: flex-end;
}

.linkicon .faicon {
    font-size: 30px ;
    color: var(--color2);
}

.copyright p{
    text-align: left;
    font-size: 12px;
    /* margin-top: 90px !important; */
}

.submenu{
    width: 310px;
    max-height: 653px;
    height: fit-content;
    background-color: var(--background3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    text-transform: capitalize;
    padding: 27px !important;
    position: fixed;
    top: 343px;
    left: 287px;
    z-index: 999;
}
.submenu ul{
    height: 450px;
    overflow: scroll;
    overflow-x: hidden !important;
}
.submenu ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--background1) !important;
    margin: 8px 0 !important;

}
.submenu ul li a{
    color: var(--background1) !important;
}
.submenu ul li a:hover{
    font-weight: 700;
    color: var(--background1) !important;
}

@media screen and (max-width: 1024px) {

    .branchLink {
        margin-top: -64px !important;
    }

}

@media screen and (max-width: 768px) {
    header{
        display: none !important;
        width: 300px;
        height: 100%;
        /* justify-content:flex-start; */
        z-index: 999;
    }
    header::before {
        left: 300px;
    }
    .mainlogo img {
        margin-bottom: 49px !important;
    }
    header .profileSection {
        margin-top: -20px !important;
        gap:10px !important;
    }

    .profileSection .userData {
        /* margin-top: -110px !important; */
        margin-bottom: 85px !important;
    }

    .userName , .idNumber {
        font-size: 14px;
    }

    .settingAndLog {
        flex-direction: column !important;
    }

    .saperator{
        width: 15px;
        height: 2px;
    }
    .branchLink {
        font-family: 'Cairo';
        font-style: normal;
        color: var(--color2);
        font-size: 24px;
        line-height: 20px;
        margin-top: 0px !important;
    }
    .currentScreen{
        flex-direction: column !important;
    }

    .navbar ul.nav {
        height: 273px;
    }

    .copyright p {
        /* margin-bottom: 10% !important; */
    }

    .submenu{
        top: 295px;
        left: 240px;
    }

}

@media screen and (max-width: 425px) {
    .submenu {
        width: 291px;
        top: 371px;
        left: 55px;
    }
}

@media screen and (max-width: 375px) {
 
}

@media screen and (max-width: 320px) {


}
