@import url(../css/color.css);
@import url(../css/sa.css);
@import url(../css/header.css);
@import url(../css/main.css);

*{
    margin: 0 !important;
    padding: 0 !important;
}

html, 
body {
    height: 100%;
}

body{
    background-color: var(--background3);
}

a{
    text-decoration-line: none;
}